.presentation-card {
  width: 33.594vw;
  p {
    text-align: start;
  }
}
.card-image {
  img {
    width: 40%;
    height: auto;
    border-radius: 50px;
  }
}

@media all and (max-width: 768px) {
  .presentation-card {
    display: flex;
    flex-direction: column;
    width: 100%;

    h2 {
      text-align: center;
    }
    .card-image {
      display: flex;
      justify-content: center;
    }
    h3 {
      text-align: center;
    }
    h4 {
      text-align: center;
      margin-bottom: 7.161vw;
    }
    .p1 {
      text-align: start;
      width: 75%;
      margin-left: 3.906vw;
      margin-right: 3.906vw;
      margin-bottom: 10.417vw;
    }
    .p2 {
      text-align: end;
      width: 75%;
      padding-left: 16.927vw;
      margin-left: 3.906vw;
      margin-right: 3.906vw;
      margin-bottom: 10.417vw;
    }
    .p3 {
      text-align: start;
      width: 75%;
      margin-left: 3.906vw;
      margin-right: 3.906vw;
      margin-bottom: 10.417vw;
    }
  }
}
